* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contain {
    width: 100%;
    height: 100vh;

}

#sidebar {
    position: fixed;
    top: 0;
    width: 92px;
    height: 100vh;
    display: flex;
    flex-direction: column; 
    background: var(--bg-100);
    border-right: 1px solid var(--bg-200);
    padding: 24px;
    gap: 10px;
    transition: all .5s ease;
    z-index: 9999;

    .head {
        display: flex; 
        gap: 20px;
        padding-bottom: 10px;
        border-bottom: 1px solid var(--bg-200);

        .user-img {
            width: 44px;
            height: 44px;
            border-radius: 50%; 
            overflow: hidden;
    
            img {
                width: 100%;
                object-fit: cover;
            } 
        }

        .user-details {
            .title {
                font-size: 10px;
                font-weight: 500;
                color: var(--primary-200);
                margin-bottom: 10px;
            }

            .name {
                font-size: 14px;
                font-weight: 500;
                color: var(--text-100);
                
            }
        }
        
    }    
}

.nav {
    flex: 1;

    .menu {
        p {
            color: var(--primary-300);
            font-size: 12px;
            margin-bottom: 14px;
        }

        ul {
            li {
                list-style: none;
                margin-bottom: 5px;

                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                    font-size: 14px;
                    font-weight: 500;
                    color: var(--text-100);
                    text-decoration: none;
                    padding: 12px 8px;
                    border-radius: 8px;
                    transition: all 0.3s ;
                }

                fa-icon {
                    font-size: 16px;
                }

                .text {
                    flex: 1;
                }
                
                .arrow {
                    font-size: 14px;
                }
                

            }

            li:hover a {
                color: var(--text-100);
                background-color: var(--primary-100);
            }

            li a.active {
                color: var(--text-100);
                background-color: var(--primary-100);
            }
        }
    }

    .menu:not(:last-child) {
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid var(--bg-200);
    }
    
}

.menu-btn {
    position: absolute;
    right: -13px;
    top: 3.5%; 
    background-color: var(--primary-100);
    color: var(--text-100);
    width: 24px;
    height: 24px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    fa-icon {
        font-size: 10px;
        transition: all 0.3s;
    }
    
}

.menu-btn:hover {
    opacity: .7;
}

#sidebar.expand {
    width: 256px;
    min-width: 230px;

    .menu-btn fa-icon {
        transform: rotate(180deg);
    }
}

#sidebar:not(.expand) {
    .head {
        .user-details{
            display: none;
        }
    }
    
}
#sidebar:not(.expand) .menu > ul > li a {
    position: relative;

}

#sidebar:not(.expand) .menu .text {
    position: absolute;
    left: 70px;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    border-radius: 4px;
    width: 100px;
    color: var(--text-100);
    background: var(--primary-100);
    opacity: 0;
    visibility: hidden;
}

#sidebar:not(.expand) .menu .text::after {
    content: "";
    position: absolute;
    left: -5px;
    top: 25%;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    background-color: var(--primary-100);
    transform: rotate(45deg);
    z-index: -1;
}

#sidebar:not(.expand) .menu a:hover .text {
    left: 55px;
    opacity: 1;
    visibility: visible;
}

#sidebar:not(.expand) ~ .home {
   left: 92px;
   width: calc(100% - 92px);
}

.home {
    position: relative;
    padding: 0;
    //margin-left: 18px;
    left: 256px;
    width: calc(100% - 256px);
    transition: all .5s ease;
}

.copyright {
    margin-bottom: 30px;
}